<!DOCTYPE html>
<html lang="es_Es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body id="page-top" style="margin-top: 40px;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-sm-offset-3">
          <h3 class="text-center">UNIVERSIDAD NACIONAL DE UCAYALI</h3>
          <h5 class="text-center">FACULTAD DE CIENCIAS DE LA SALUD</h5>
          <h5 class="text-center">ESCUELA PROFESIONAL DE ENFERMERIA</h5>
          <h5 class="text-center">CARRERA PROFESIONAL DE ENFERMERIA</h5>
        </div>
      </div>
      
      @!section('content')

    </div>
  </body>
</html>
